node_modules
dist
coverage
reports
.git
.github
.vscode
.idea

.env
.env.*
!.env.example
infra
k8s/secret.yaml
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

actions-runner

docs
postman
*.md
!README.md

Dockerfile
docker-compose.yml
.dockerignore
